*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
}

.title {
    flex: 1;
    padding-left: 15px;
}

.score {
    flex: 1;
    text-align: right;
    padding-right: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 200px);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-image: url("/assets/img/wow.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid black;
}

.card img {
    width: 100%;
    height: 100%;
    display: none;
}

.card.flipped img {
    display: block;
}

footer {
    margin-top: calc(100vh - 1332px);
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: grey;
}
